/* !classi condivise  */

* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
  cursor: pointer;
}

.huge {
  width: 100vw;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
}

.t-center {
  text-align: center;
}

.v-center {
  vertical-align: middle;
}

.mid-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.more-width-1400 {
  max-width: 1400px;
}
.more-width-1600 {
  max-width: 1600px;
}

/* !classi normali */

/* header  */

.container.more-width-1400.first {
  height: 80px;
}

.container.more-width-1400.first *[class*="col-"] {
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
}

.container.more-width-1400.first .logo {
  height: 20%;
  margin-left: 20px;
}

nav .col-lg-10 ul > li {
  display: inline-block;
  margin-right: 30px;
}

nav .col-lg-10 ul {
  float: right;
}

nav .col-lg-10 ul li:nth-last-child(2) a,
nav .col-lg-10 ul li:nth-last-child(3) a {
  border-right: 1px solid black;
  padding-right: 30px;
}

#huge {
  color: white;
  width: 100vw;
  height: 800px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

#huge .container {
  height: 800px;
}

#huge img {
  height: 70px;
}
.hidden {
  display: none;
}
#huge .container h1 {
  font-weight: 500;
  font-size: 4rem;
}

#huge .col-lg-10.col-lg-offset-1 {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}

/* prima sezione  */

.more-width-1600.container.first .col-lg-5 {
  background-color: #fafafa;
  text-align: center;
  line-height: 60px;
  padding-top: 30px;
  margin: 50px;
}

.more-width-1600.container.first .col-lg-5 img {
  width: 100%;
}
.more-width-1600.container.first .col-lg-5 a {
  color: blue;
}

/* seconda sezione  */

.background-wallpaper {
  width: 100vw;
  background-image: url("../img/hero-2.jpg");
  background-size: cover;
  height: 700px;
}

.background-wallpaper img {
  height: 600px;
  margin-top: 300px;
}

/* terza sezione  */
.more-width-1600.container.third {
  margin-bottom: 100px;
}

.more-width-1600.container.third > div:first-child {
  margin-top: -150px;
  font-size: 2em;
  font-weight: 600;
}
.more-width-1600.container.third > div:last-child {
  margin-top: -150px;
  font-size: 1em;
  font-weight: 400;
}

/* quarta sezione  */

.more-width-1600.container.fourth > div:first-child {
  background-image: url("../img/scooter.jpg");
  height: 550px;
  width: 100%;
  color: white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.more-width-1600.container.fourth h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.more-width-1600.container.fourth p {
  margin-bottom: 20px;
}

#center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.more-width-1600.container.fourth .col-lg-4 img {
  width: 300px;
}

.container.more-width-1600.fifth div[class*="col-"] {
  height: 450px;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  padding-top: 30px;
  font-size: 1.5rem;
  line-height: 60px;
  width: calc(50% - 40px);
}

.container.more-width-1600.fifth [class*="col-"]:last-child {
  background-image: url("../img/city.jpg");
  background-size: cover;
}

.container.more-width-1600.fifth [class*="col-"]:first-child img {
  height: 100%;
  position: relative;
  top: 30%;
}

.container.more-width-1600.fifth [class*="col-"]:first-child {
  background-color: #6595ab;
  overflow: hidden;
  margin-right: 80px;
}

/* quinta sezione  */

#huge-5-page {
  color: black;
  width: 100vw;
  height: 600px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  font-weight: 200;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

#huge-5-page [class*="col-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 100px;
  text-align: center;
}

#huge-5-page .col-lg-4 div > i {
  margin-right: 30px;
}

#huge-5-page .col-lg-4 div {
  margin-top: 20px;
  margin-left: 20px;
}

/* footer  */

footer {
  width: 100vw;
  background-color: black;
  padding-top: 100px;
  color: white;
}

footer li {
  list-style-type: none;
  margin-bottom: 20px;
}

footer li:not(:first-child) {
  color: grey;
}

footer .logo {
  width: 150px;
  margin-left: 50px;
}

footer .container.middle {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 150px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  line-height: 150px;
}

footer .mini-logo {
  margin-right: 20px;
}

footer .container:last-child img {
  width: 40%;
}

/* !media query  */

@media screen and (max-width: 1120px) {
  .d-none {
    display: none;
  }

  #media-fix-1,
  #media-fix-2 {
    width: 100%;
  }

  .col-lg-6.col-md-12.col-xs-12.media-fix {
    width: 100%;
  }

  .hidden {
    display: block;

    width: 100%;
  }

  .hidden img {
    height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  #fix-one,
  #fix-two {
    width: 100%;
    float: none;
    margin-top: 50px;
    display: block;
    font-size: 3em;
  }

  #forced-80 {
    height: 80px;
  }

  .more-width-1600.container.first .col-lg-5 {
    background-color: #fafafa;
    text-align: center;
    line-height: 60px;
    padding-top: 30px;
    margin: 0;
  }

  .background-wallpaper {
    text-align: center;
  }

  footer .logo {
    width: 150px;
    margin-left: 50px;
    margin-bottom: 50px;
  }
}

/* !debug */

.debug {
  border: 1px solid black;
  height: 100px;
}
