/* !classi condivise  */

* {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: blue;
  cursor: pointer;
}

.huge {
  width: 100vw;
}

.f-left {
  float: left;
}
.f-right {
  float: right;
}

.t-center {
  text-align: center;
}

.v-center {
  vertical-align: middle;
}

.mid-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.more-width-1400 {
  max-width: 1400px;
}
.more-width-1600 {
  max-width: 1600px;
}

/* !classi normali */

/* header  */

.container.more-width-1400.first {
  height: 80px;
}

.container.more-width-1400.first *[class*="col-"] {
  height: 100%;
  line-height: 80px;
  vertical-align: middle;
}

.container.more-width-1400.first .logo {
  height: 20%;
  margin-left: 20px;
}

nav .col-lg-10 ul > li {
  display: inline-block;
  margin-right: 30px;
}

nav .col-lg-10 ul {
  float: right;
}

nav .col-lg-10 ul li:nth-last-child(2) a,
nav .col-lg-10 ul li:nth-last-child(3) a {
  border-right: 1px solid black;
  padding-right: 30px;
}

#huge {
  color: white;
  width: 100vw;
  height: 800px;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

#huge .container {
  height: 800px;
}

#huge img {
  height: 70px;
}
.hidden {
  display: none;
}
#huge .container h1 {
  font-weight: 500;
  font-size: 4rem;
}

#huge .col-lg-10.col-lg-offset-1 {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}

/* prima sezione  */

.more-width-1600.container .col-lg-5 {
  background-color: #fafafa;
  text-align: center;
  line-height: 60px;
  padding-top: 30px;
  margin: 50px;
}

.more-width-1600.container .col-lg-5 img {
  width: 100%;
}
.more-width-1600.container .col-lg-5 a {
  color: blue;
}

/* seconda sezione  */

.background-wallpaper {
  width: 100vw;
  background-image: url("../img/hero-2.jpg");
  background-size: cover;
  height: 700px;
  text-align: center;
}

.background-wallpaper img {
  height: 600px;
  margin-top: 300px;
}

/* terza sezione  */
.more-width-1600.container.third {
  margin-bottom: 100px;
}

.more-width-1600.container.third > div:first-child {
  margin-top: -100px;
  font-size: 2em;
  font-weight: 600;
}
.more-width-1600.container.third > div:last-child {
  margin-top: -100px;
  font-size: 1em;
  font-weight: 400;
}

/* quarta sezione  */

.more-width-1600.container.fourth > div:first-child {
  background-image: url("../img/hero-3.jpg");
  height: 550px;
  color: white;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
}

.more-width-1600.container.fourth .container h1 {
  color: white;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.more-width-1600.container.fourth .container p {
  margin-bottom: 20px;
}

.more-width-1600.container.fourth .container > div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.more-width-1600.container.fourth .col-lg-4 img {
  width: 300px;
}

/* !media query  */
@media screen and (max-width: 1120px) {
  .d-none {
    display: none;
  }

  .hidden {
    display: block;

    width: 100%;
  }

  .hidden img {
    height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }

  #fix-one,
  #fix-two {
    width: 100%;
    float: none;
    margin-top: 50px;
    display: block;
    font-size: 3em;
  }

  #forced-80 {
    height: 80px;
  }

  .more-width-1600.container .col-lg-5 {
    background-color: #fafafa;
    text-align: center;
    line-height: 60px;
    padding-top: 30px;
    margin: 0;
  }
}
/* !debug */

.debug {
  border: 1px solid black;
  height: 100px;
}
